{% extends 'front.html.twig' %}
{% block test %}
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 20px;
        }
        .button:hover {
            background-color: #023796;
            color: white;

        }
    </style>
    <table id="table" style="width: 1500px; margin-top: 60px;">
        <thead>
        {%for data in data%}
            <th style="vertical-align: top; background-color: lightgreen; border-radius: 20px ;width: 500px; padding:15px;">
                <li style="display: none">{{ data.id}}</li>
                <li>Petit déjeuner : {{ data.breakfast}}</li>
                <br>
                <li>Déjeuner: {{ data.lunch}}</li>
                <br>
                <li>Diner : {{ data.dinner}}</li>
                <br>
                <li>Gouter : {{ data.snacks}}</li>
                <br>
                <li id="tcalories"value="{{ data.calories}}"></li>
            </th>
            <th>

            </th>
        {% endfor %}
        </thead>
    </table>
    <br>
    <br>

    <form style="position: relative; left: 35%; top: 50px; width: 200px;" class="login100-form validate-form flex-sb flex-w" method="POST" action="{{ path('DietpdfList')}}">
        <input id="fcalories" type="text" name="caloriesValue" style="display: none;"/>
        <input class="button" type="submit" value="Télecharger Pdf" style="padding: 10px 46px;  text-align: center;  text-decoration: none; display: inline-block;">
        <br>
        <br>
    </form>

    <a class="button" href="{{ path('DietChoice') }} " style=" position: relative; padding: 10px 35px;  text-align: center;  text-decoration: none; left: 1280px; top: 160px;">Retour</a>

    <script>
        document.getElementById("fcalories").value = document.getElementById("tcalories").value ;
    </script>
{% endblock %}