{% extends 'front.html.twig' %}

{% block test %}
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 20px;
        }
        .button:hover {
            background-color: #023796;
            color: white;
        }
        input[type=text] {
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid #4CAF50;
        }
    </style>

<table>
    <thead>
    <tr>
        <th>
            <a href="{{ path('WorkoutShoulders') }}">
                <img  src="{{ asset('front/img/muscles/shoulders.png') }}" style="height: 200px;width: 200px;">
                <br>
                <h5 style="text-align: center;">Epaules</h5>
            </a>
        </th>

        <th>
            <a href="{{ path('WorkoutLegs') }}">
                <img  src="{{ asset('front/img/muscles/legs.png') }}" style="height: 200px;width: 200px;">
                <br>
                <h5 style="text-align: center;">Jambes</h5>
            </a>
        </th>

        <th>
            <a href="{{ path('WorkoutArms') }}">
                <img  src="{{ asset('front/img/muscles/arms.png') }}" style="height: 200px;width: 200px;">
                <br>
                <h5 style="text-align: center;">Bras</h5>
            </a>
        </th>

        <th>
            <a href="{{ path('WorkoutGlutes') }}">
                <img  src="{{ asset('front/img/muscles/glutes.png') }}" style="height: 200px;width: 200px;">
                <br>
                <h5 style="text-align: center;">Glutes</h5>
            </a>
        </th>

        <th>
            <a href="{{ path('WorkoutBack') }}">
                <img  src="{{ asset('front/img/muscles/back.png') }}" style="height: 200px;width: 200px;">
                <br>
                <h5 style="text-align: center;">Dos</h5>
            </a>
        </th>



        <th>
            <a href="{{ path('WorkoutAbs') }}">
                <img  src="{{ asset('front/img/muscles/abs.png') }}" style="height: 200px;width: 200px;">
                <br>
                <h5 style="text-align: center;">Abdos</h5>
            </a>
        </th>

        <th>
            <a href="{{ path('WorkoutChest') }}">
                <img  src="{{ asset('front/img/muscles/chest.png') }}" style="height: 200px;width: 200px;">
                <br>
                <h5 style="text-align: center;">Poitrine</h5>
            </a>
        </th>
    </tr>
    </thead>
</table>

    <br>
    <br>

    <a  class="button" href="{{ path('WorkoutandDiet') }} "style="position: relative; color: white; padding: 10px 35px;  text-align: center;  text-decoration: none; display: inline-block;left: 1280px; top: 290px;">Retour</a>

    <br>

    <div style="border:2px solid #023796; border-radius: 20px;  width: 450px; margin-left: 480px;">

        <h5 style="margin-left: 30px; margin-top: 30px;"> En besoin d'une dose de motivation ?</h5>

        <h6 style="margin-left: 30px;">Entrez votre numéro pour recevoir un SMS :</h6>

    <form class="login100-form validate-form flex-sb flex-w" method="POST" action="{{ path('WorkoutSMS')}}">
        <input id="phoneN" type="text" name="phoneNumber" style="margin-left: 30px; margin-bottom: 30px;" />
        <input type="submit" value="Me motiver" class="button" style="margin-left: 30px;">
    </form>

    </div>

{% endblock %}