{% extends 'front.html.twig' %}
{% block test %}
    <table style="width: 700px;">
        <thead>
        {%for data in data%}
            <th style="vertical-align: top;">
                <li>Nom : {{ data.name}}</li>
                <br>
                <li>Nombre de séries : {{ data.nbr_series}}</li>
                <li>Duree d'une série : {{ data.duree_serie}}</li>
                <br>
                <li>Description : {{ data.description}}</li>
            </th>
        {% endfor %}
        </thead>
    </table>
    <br>
    <br>
    <a href="{{ path('WorkoutChoice') }} "style="  background-color: #f44336; color: white; padding: 10px 35px;  text-align: center;  text-decoration: none; display: inline-block;">Retour</a>
{% endblock %}