{% extends 'front.html.twig' %}
{% block test %}
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: #023796;
            padding: 10px 40px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 20px;
        }
        .button:hover {
            background-color: #023796;
            color: #4CAF50;
        }
        </style>
    <table style="width: 1500px;">
        <thead>
        {%for data in data%}
            <th style="vertical-align: top;">
                <li>Nom : {{ data.name}}</li>
                <br>
                <li>Nombre de séries : {{ data.nbr_series}}</li>
                <li>Duree d'une série : {{ data.duree_serie}}</li>
                <br>
                <li>Description : {{ data.description}}</li>
            </th>
        {% endfor %}
        </thead>
    </table>
    <br>
    <br>
    <a href="{{ path('WorkoutChoice') }} " class="button " style="position: relative; color: white; padding: 10px 35px;  text-align: center;  text-decoration: none; display: inline-block;left: 650px;">Retour</a>
{% endblock %}