{% extends 'dietBack.html.twig' %}

{% block title %}Gestion des régimes{% endblock %}

{% block body %}
    <h1>Régimes</h1>
    <a href="{{ path('diet_new') }}"><button type="button" style=" top: 200px;  background-color: #4CAF50;border: none;color:white;padding: 5px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;">Créer un nouveau</button></a>
    <a href="{{ path('DietStats') }}"><button type="button" style=" top: 200px;  background-color: #f44336;border: none;color:white;padding: 5px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;">Stats</button></a>


    <input  type="text" id="search" class="form-control" placeholder="Recherche (par nombre de calories)">
    <table class="table" id="t">
        <thead>
            <tr>
                <th>ID</th>
                <th>Petit déjeuner</th>
                <th>Déjeuner</th>
                <th>Diner</th>
                <th>Gouter</th>
                <th>Calories</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="all">
        {% for diet in diets %}
            <tr>
                <td>{{ diet.id }}</td>
                <td>{{ diet.breakfast }}</td>
                <td>{{ diet.lunch }}</td>
                <td>{{ diet.dinner }}</td>
                <td>{{ diet.snacks }}</td>
                <td>{{ diet.calories }}</td>
                <td>
                    <a href="{{ path('diet_show', {'id': diet.id}) }}">
                        <img  src="{{ asset('back/images/samples/eye.png') }}" width="30" height="30">
                    </a>

                    <a href="{{ path('diet_edit', {'id': diet.id}) }}">
                        <img  src="{{ asset('back/images/samples/edit.png') }}" width="30" height="30">
                    </a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search">
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                var value = $(this).val();
                $.ajax({
                    url : "{{ path('searchDiet') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td> '+obj.id+'  </td><td>    '+obj.breakfast+'  </td><td>'+obj.lunch +' </td><td>'+obj.dinner +' </td><td>'+obj.snacks +' </td><td>'+obj.calories +' </td><td><a><img  src="{{ asset('back/images/samples/eye.png') }}" width="30" height="30"></a><br><a><img  src="{{ asset('back/images/samples/edit.png') }}" width="30" height="30"></a></td></tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#search').hide();
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                        }
                    },
                });
                return false;
            });
        });
    </script>

{% endblock %}
