<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Diet Admin{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('back/css/bootstrap.css')}}">

    <link rel="stylesheet" href="{{asset('back/vendors/iconly/bold.css')}}">

    <link rel="stylesheet" href="{{ asset('back/vendors/perfect-scrollbar/perfect-scrollbar.css')}}">
    <link rel="stylesheet" href="{{ asset('back/vendors/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/app.css') }}">
    <link rel="shortcut icon" href="{{ asset('back/images/favicon.svg') }}" type="image/x-icon">
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <img src="{{ asset('back/images/logo/BackLogo.png') }}" alt="SPORTINUS" srcset="" style="width: 200px;height: 150px;">
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item">
                        <a href="{{ path('workout_index') }}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Gestion des Workouts</span>
                        </a>
                    </li>

                    <li class="sidebar-item active has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Gestion des régimes et ingrédients</span>
                        </a>
                        <ul class="submenu active">
                            <li class="submenu-item active ">
                                <a href="{{ path('diet_index') }}">Régimes</a>
                            </li>
                            <li class="submenu-item ">
                                <a href="{{ path('ingredient_index') }}">Ingrédients</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>

    <div class="page-content">
        <div style="height: 75%; width: 75%;  position: absolute; top: 60px;right: 100px;" >{% block body %}{% endblock %}</div>
    </div>
</div>

<script src="{{ asset('back/vendors/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
<script src="{{ asset('back/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ asset('back/vendors/apexcharts/apexcharts.js')}}"></script>
<script src="{{ asset('back/js/pages/dashboard.js')}}"></script>

<script src="{{ asset('back/js/main.js')}}"></script>
</body>

</html>