{% extends 'base.html.twig' %}

{% block title %}Gestion des Workout{% endblock %}

{% block body %}
    <h1>Workout</h1>

    <a href="{{ path('workout_new') }}"><button type="button" style=" top: 200px;  background-color: #4CAF50;border: none;color:white;padding: 5px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;">Créer un nouveau</button></a>
    <a href="{{ path('WorkoutStats') }}"><button type="button" style=" top: 200px;  background-color: #f44336;border: none;color:white;padding: 5px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;">Stats</button></a>

    <input  type="text" id="search" class="form-control" placeholder="Recherche (par muscle)">
    <table class="table" id="t">
        <thead>
            <tr>
                <th>ID</th>
                <th>NBR Series</th>
                <th>Duree Serie</th>
                <th>Muscle</th>
                <th>Description</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="all">
        {% for workout in workouts %}
            <tr>
                <td>{{ workout.id }}</td>
                <td>{{ workout.nbrSeries }}</td>
                <td>{{ workout.dureeSerie }}</td>
                <td>{{ workout.bodyPart }}</td>
                <td>{{ workout.description }}</td>
                <td>{{ workout.name }}</td>
                <td>
                    <a href="{{ path('workout_show', {'id': workout.id}) }}">
                         <img  src="{{ asset('back/images/samples/eye.png') }}" width="30" height="30">
                   </a>

                    <a href="{{ path('workout_edit', {'id': workout.id}) }}">
                        <img  src="{{ asset('back/images/samples/edit.png') }}" width="30" height="30">
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search">
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                var value = $(this).val();
                $.ajax({
                    url : "{{ path('searchWorkout') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td> '+obj.id+'  </td><td>    '+obj.nbrSeries+'  </td><td>'+obj.dureeSerie +' </td><td>'+obj.bodyPart +' </td><td>'+obj.description +' </td><td>'+obj.name +' </td><td><a><img  src="{{ asset('back/images/samples/eye.png') }}" width="30" height="30"></a><br><a><img  src="{{ asset('back/images/samples/edit.png') }}" width="30" height="30"></a></td></tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#search').hide();
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                        }
                    },
                });
                return false;
            });
        });
    </script>


{% endblock %}
